@import "tailwindcss";

:root {
  --main-black: #1a1a1a;
  --main-white: #F0F8FF;
  --accent-color: #C0FF00;
  --font-dongle: initial;
}

@theme inline {
  --color-set-black: var(--main-black);
  --color-set-white: var(--main-white);
  --color-set-accent: var(--accent-color);
  --font-dongle: var(--font-dongle);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-set-white);
  color: var(--color-set-black)
}

.front-page {
  background-color: var(--color-set-black);
  color: var(--color-set-white);
  font-family: var(--font-dongle);
}

.main-page {
  background-color: var(--color-set-white);
  color: var(--color-set-black);
  font-family: var(--font-dongle);
}