@import "tailwindcss";

:root {
  --main-black: #1a1a1a;
  --main-white: #F0F8FF;
  --accent-color: #C0FF00;
  --font-dongle: initial;
}

@theme inline {
  --set-black: var(--main-black);
  --set-white: var(--main-white);
  --set-accent: var(--accent-color);
  --font-dongle: var(--font-dongle)

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.front-page {
  background-color: var(--set-black);
  color: var(--set-white);
  font-family: var(--font-dongle);
}
